.encabezado .logo,.encabezado .logoam{
    display:inline-block;
    width:auto;
    max-width:640px;
    height:10vw;
}

span2{display:inline;}
h10,h11{display:block;}

.contenido img{
    margin: 0 .5em .5em 0;
    width:40%;
    border-radius:0 0 1em 1em;
}
.contenido audio{
    margin:0 0 .5em -.5em;
    width:60%;
    border-radius:0 0 1em 0;
}

.videoder{
    padding:0;
    margin-left:1em;
    width:40vw;
    height:30vw;
    max-width:600px;
}
.videoizq{
    padding:0;
    margin-right:1em;
    width:40vw;
    height:30vw;
    max-width:600px;
}

#img4sax{
    padding:0;
    margin:0 0 .5em .5em;
    float:right;
    width:40%;
    border-radius:1em;
}

.maestro{
    width:50%;
    max-width:600px;
}
.separador2{display:none;}
.divder, .divizq{width:50%;}
.divder iframe, .divizq iframe{height:37.5vw;}
