/*
cafe #c06014
claro #eddbcd
gris #cdcdcd
*/

/*==========IDs==========*/
#fbtemp{
    padding:0;margin:.2em;
    height:2em;
    border-radius:.2em;
}

#img4sax{
    padding:0;margin:0 auto;
    float:none;
    display:block;
    width:90%;
    border-radius:1em;
}


/*==========Clases==========*/

.encabezado {
	padding:0;margin:0;
	background:linear-gradient(black,#804020/*P3*/);
    text-align:center;
}
.encabezado img{
    padding:0;margin:1em;
    vertical-align:middle;
}
.encabezado .logo{display:none;}
.encabezado .logoam{width:60%;}

.navigation{
    padding:0;margin:0 0 1em 0;
    font-size:110%;
	position: sticky;
    top:0;
    text-align:center;
}
.navigation img{
    height:1.5em;
    padding:0; margin:0 .15em;
    vertical-align:middle;
}
.navigation ul {
    padding:0;margin:0;
    list-style: none;
}
.navigation ul li{
	display:inline;
}
.navigation ul li a {
    display:inline-block;
    padding:.2em .5em;
    color:#351200/*P1*/;
    text-decoration: none;
    background-color:#c98a6a/*P5*/;
    opacity:0.8;
    border-radius:0 0 .5em .5em;
}
.navigation ul li a.active {
    background-color:#804020/*P3*/;
    color: white;
    font-weight:bold;
    opacity:1.0;
    text-shadow:.1em .1em .2em black;
}
.navigation ul li a:hover:not(.active) {
    opacity:1.0;
    background-color:#a1603e/*P4*/;
    color: white;
    font-weight:bold;
}

.intro{
    padding:0;margin:0;
    width:100%;
    max-width:900px;
    height:66.7vw;
    max-height:600px;
    border-radius:10vw 0;
}

.promocion{
    text-align:center;
    font-size:110%;
    font-weight:bold;
    text-shadow:.1em .1em .2em white;
}
.promocion img{
    display:block;
	margin:1em auto;
	width:100%;
    max-width:640px;
}

.separador{
    padding:0;
    margin:2em auto;
    clear:both;
    width:95%;
    height:.1em;
    background-color:#c98a6a/*P5*/;
    box-shadow:.1em .1em .1em .1em #351200/*P1*/;
}

.pie{
   	padding:1em;margin:2em 0 0 0;
    clear:both;
	background:linear-gradient(#804020/*P3*/,black);
    font-size:90%;
}
.pie ul{
    list-style:none;
    padding:0;margin:0;
    }
.pie img{
    height:1.5em;
    padding:0; margin:.1em;
    vertical-align:middle;
}
.cuatroimg img{
    height:2em;
    margin:0 -.2em;
    border-radius:.2em;
}
.pie a{color:white;opacity:0.75;}
.pie a:hover{
    font-weight:bold;
    opacity:1;
}
.pie>ul>li{
    padding:0; margin:0 1em;
    display:inline-block;
    vertical-align:top;
    color:white;
    text-shadow:.1em .1em .1em black;
}

.instrumento {
    padding:0;margin:2%;
	display:inline-block;
	width:20%;
	min-width:60px;
	max-width:180px;
    vertical-align:top;
}
.instrumento .icono{
    padding:0;margin:0 auto;
    display:inline-block;
    box-sizing:border-box;
	width:100%;
	border-radius:999px;
	background:white;
}
.instrumento img{width:100%;}
.instrumento .icono:hover{
	border-bottom:.3em solid #592409/*P2*/;
    border-right:.3em solid #592409/*P2*/;
}

.contenido{
    text-align:justify;
}
.contenido img{
    padding:0; margin:0;
    float:left;
    width:100%;
    border-radius:1em 1em 0 0;
}
.contenido img.sinaudio{
    margin-bottom:.5em;
}
.contenido audio{
    padding:0;
    margin:0 0 .5em 0;
    float:right;
    width:100%;
    border-radius:0 0 1em 1em;
}
.contenido p{
    padding:0; margin:1em;
}
.contenido ul{
    padding:0;margin:0;
    list-style:none;
    text-align:center;
}
.contenido ul li{
    display:inline;
    margin:0 .3em;
}
.contenido ul li::before{
    content:"\2022\0020";
    white-space:nowrap;
    }

.videoder{
    padding:0;
    margin:0 0 1em 0;
    box-sizing:border-box;
    float:right;
    width:100%;
    height:75vw;
    border-radius:1em;
}
.videoizq{
    padding:0;
    margin:0 0 1em 0;
    box-sizing:border-box;
    float:left;
    width:100%;
    height:75vw;
    border-radius:1em;
}

.divder{
    padding:1em;
    margin:0;
    float:right;
    width:100%;
    box-sizing:border-box;
    text-align:justify;
}
.divizq{
    padding:1em;
    margin:0;
    float:left;
    width:100%;
    box-sizing:border-box;
    text-align:justify;
}
.divder iframe,.divizq iframe{
    padding:0;margin:0;
    width:100%;
    height:75vw;
    border:none;
    border-radius:1em;
}

/*==========Partes==========*/

body {
    padding:0;margin:0;
    color:#351200/*P1*/;
	font-family: verdana,sans;
    font-size:16px;
    text-align:center;
}

a{color:#155540/*C3*/}

h10 {
    display:none;
    padding:0;margin:1em;
    font-family:verdana,serif;
    font-size:110%;
    font-weight:bold;
    color:#351200/*P1*/;
	text-shadow: .1em .1em .2em white;
    text-align:center;
}

h11 {
    display:none;
    padding:.1em;margin:0;
    font-family:verdana,serif;
    font-size:120%;
    font-weight:bold;
    background-color:rgba(0,0,0,0.7);
    color:white;
	text-shadow: .1em .1em .2em #804020/*P3*/;
    text-align:center;
    border-radius:1em 1em 0 0;
}

h12 {
    display:block;
    padding:0;margin:0;
    font-family:verdana,serif;
    font-size:110%;
    font-weight:bold;
    color:#351200/*P1*/;
	text-shadow: .1em .1em .2em white;
    text-align:center;
}

span2{display:none;}
